* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/Almond_Blossom_Vincent_van_Gogh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#countdown {
    font-size: 35vw;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(224, 223, 194, 0.7);
}
